@import '_materialize';
@import '_mixins';
@import '_keyframes';
@import '_ngprogress';


nav ul a,
nav .brand-logo, nav a {
  color: #444;
  cursor: pointer;
}

.open-menu {
	transform: translateX(0);
}
.hide-menu {
	transform: translateX(-105px);
}

main {
	min-height: 1000px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

main.ng-enter {
	transition: 0.5s linear all;
	opacity: 0;
}
main.ng-enter.ng-enter-active {
	opacity: 1;
}
.repeated-item td.ng-enter {
	transition: 0.5s linear all;
	opacity: 0;
	transform: translateY(300px);
}
.repeated-item td.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translateY(0);
}

#nav-mobile {
	transition: .1s linear all;
}